@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Onlinelibrary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        .navbar-custom {
            background-color: #343a40;
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: #ffffff;
        }
        .navbar-custom .nav-link:hover {
            color: #ffc107;
        }
        .footer-custom {
            padding: 10px 0;
            border-top: 1px solid #e5e5e5;
            text-align: center;
            background-color: #f8f9fa;
            margin-top: 20px;
        }
        .btn-custom {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Onlinelibrary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null)
                    {
                        <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
                        <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Index", "Books")'">Books</button>
                        <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("TopRatedBooks", "Books")'">Top Rated Books</button>
                        <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Logout", "Account")'">Logout</button>

                        @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") == "1")
                        {
                            <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
                            <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Users", "Account")'">Users</button>
                            <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Create", "Books")'">Add Book</button>
                        }
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-light btn-custom" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
                    }
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content" style="padding-top: 60px;">
        <div id="alertPlaceholder" data-message="@ViewData["AlertMessage"]"></div>
        @RenderBody()
        <hr />
        <footer class="footer-custom">
            <p>&copy; 2024 - Onlinelibrary</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
