@model Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Model.Genre
        </dd>
        <dt class="col-sm-2">
            Author
        </dt>
        <dd class="col-sm-10">
            @Model.Author.Name
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<h3>Reviews</h3>

@if (Model.Reviews.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.User.Username</td>
                    <td>@review.Rating</td>
                    <td>@review.Content</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No reviews yet.</p>
}

<a href="@Url.Action("AddReview", "Books", new { id = Model.Id })" class="btn btn-primary">Add Review</a>
